{% extends 'base.html.twig' %}

{% block body%}

	{{ form_start(form) }}
	{{form_row(form.username, {'label':'Nom d\'utilisateur','attr':{'placeholder':'Nomd\'utilisateur' }}) }}
	{{form_row(form.email, {'label':'Email','attr':{'placeholder':' adresse Email' }}) }}
	{{form_row(form.password, {'label':'Password','attr':{'placeholder':'votre mot de passe' }}) }}
	{{form_row(form.confirm_password, {'label':'Confirm_Password','attr':{'placeholder':'Confirmez le password' }}) }}


	<button type="submit" class="btn btn-success">
		inscription
	</button>
	{{ form_end(form)}}

{% endblock %}
