{% extends 'base.html.twig' %}

{% block title %}Contact
{% endblock %}

{% block body %}

	<div class="container ">
		{{ form_start(contact_form) }}
		{# {{ form_widget(contact_form) }} #}

		{{ form_row(contact_form.username, {'label': 'Nom d\'utilisateur', 
    'attr': {'class': 'input-group', 'placeholder': 'Votre nom d\'utilisateur ...' }}) }}
		{{ form_row(contact_form.from, {'label': 'Adresse email', 
    'attr': {'class': 'input-group', 'placeholder': 'Votre adresse email ...' }}) }}
		{{ form_row(contact_form.message, {'label': 'Message', 
    'attr': {'class': 'input-group', 'placeholder': 'Saisissez votre message ...' }}) }}

		<input type="submit" value="Envoyer" class="btn btn-success"/>

		{{ form_end(contact_form) }}
	</div>
{% endblock %}