{% extends 'base.html.twig' %}

{% block title %}La liste des bd
{% endblock %}

{% block body %}

	<!-- div.example-wrapper>h1{La liste des auteurs} -->
	<div class="example-wrapper m-4">
		<h1>La liste de ces oeuvres
		</h1>


		{% for produit in produits %}

			<article>
				<h2>{{ produit.titre }}</h2>
				<div>
					{{ produit.heros}}
					{{ produit.auteur}}
				</div>
				<div class="content">
					<img src=" {{ asset('images/') }}{{produit.refbd}}{{'.jpg'}}" alt=" {{produit.refbd}} " class="thumbnail"></img>
				<p>{{ produit.resume }}{{ auteur.produits|length}}
				</p>
			
				<hr>
			</div>
		</article>
	{% endfor %}

{% endblock %}
